node_modules
dist
client/dist
client/node_modules
.env
*.sqlite
*.sqlite-journal
.vscode
.idea
*.iml
*.log
pos-release-key.keystore
keystore.properties
local.properties
out/
backend_csharp_api/bin/
backend_csharp_api/obj/
android_pos_app/build/
android_pos_app/app/build/
*.exe
*.dll
*.pdb
